#indexTitle {
	color:purple;
}
nav {
	border:black 2px solid;
}
#playerInfo {
	border:black 3px solid;
}
#resumeBody {
	border:black 3px solid;
}
#resumeBody h4 {
	color:green;
}
#vballNav a:link {
	text-decoration:none;
}
